---
- name: Submit JCL stored locally
  hosts: zos
  gather_facts: no
  collections:
    - ibm.ibm_zos_core
  environment: "{{ environment_vars }}"

  tasks:
    - name: Copy local file to a JCL library
      zos_copy:
        src: CRQSAM2
        dest: GAMA03.JCL(CRQSAM2)
        remote_src: false 
        force: true

    - include_tasks: tasks/submit_jcl.yml 
      vars:
        src: GAMA03.JCL(CRQSAM2)
        acceptable_cond_code: 4 

    - name: Display all results 
      debug:
        var: job_output            