name: Build and Push Docker Image for PlatformAPI

on:
  push:
    paths:
      - 'apps/platformapi/**'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      # 4. Build and push the Docker image
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/platformapi
          file: ./apps/platformapi/Dockerfile
          push: true
          tags: docker.io/${{ secrets.REGISTRY_USER }}/platformapi:latest
